################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/vc2019/.vs/fp/v16
/vc2019/x64/Debug
/vc2019/Win32/Debug
/vc2019/Win32/Release
/vc2019/Win32/ReleaseClang
/vc2019/x64/ReleaseClang
/vc2019/x64/Release
